" {{ ansible_managed }}

set nocompatible

set noswapfile
set nobackup

filetype off
filetype plugin indent off

" adjust width for full width characters
set ambiwidth=double

" config for Go
let g:gofmt_command = 'goimports'
set rtp^=/usr/local/opt/go/libexec/misc/vim
set rtp^=${GOPATH}/src/github.com/nsf/gocode/vim
au BufWritePre *.go Fmt
au FileType go setl sw=4 ts=4 sts=4 noet
au FileType go setl makeprg=go\ build errorformat=%f:%l:\ %m

au FileType javascript setl sw=2 ts=2 et
au FileType html setl sw=2 ts=2 et
au FileType markdown setl sw=2 ts=2 et

au FileType ruby setl sw=2 ts=2 et
au FileType yaml setl sw=2 ts=2 et
au FileType python setl sw=4 ts=4 et
au FileType lua setl sw=4 ts=4 et

" Disabled: disable auto indent because I don't like it
"filetype plugin indent on

syntax on

" no wrap
set textwidth=0

" change cursor on insert mode
au InsertEnter * set cul
au InsertLeave * set nocul

set fileencodings=utf-8,cp932,euc-jp,iso-2022-jp,default,latin

" Disabled: Use tmux clipboard copy&paste feature instead of vim's.
"set clipboard=unnamed,autoselect
